<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="header">
      <div class="name container">
        <h1 class="mb-48">
          Joanne<br />
          Chen
        </h1>

        <img
          class="mb-48"
          src="https://hexschool.github.io/webLayoutTraining1st/week1/photo.png"
          alt="picture"
        />
      </div>
    </header>

    <%- contents %>

    <footer class="footer">
      <div class="container">
        <h2>聯絡方式 <span>CONTACT METHOD</span></h2>

        <ul class="method">
          <li class="mt-24 mb-16">
            Mail：<a href="mailto:xxxd@hexschool.com">xxxd@hexschool.com</a>
          </li>
          <li class="mb-16">Phone：<a href="tel:+0910123456">0910123456</a></li>
          <li class="mb-16">Kaohsiung, Taiwan</li>
          <li class="mb-16">
            <a href="#">作品連結：https://www.behance.net/xxxdddddd</a>
          </li>
        </ul>
        <ul class="social d-flex jcc">
          <li>
            <a href="#"
              ><img
                src="https://hexschool.github.io/webLayoutTraining1st/week1/facebook.svg
    "
                alt="fb"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://hexschool.github.io/webLayoutTraining1st/week1/instagram-alt.svg"
                alt="ig"
            /></a>
          </li>
          <li>
            <a href="#"
              ><img
                src="https://hexschool.github.io/webLayoutTraining1st/week1/line.svg"
                alt="line"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
