/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: "PingFangSC", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei", "Roboto", "Helvetica Neue", "sans-serif"; }

.mt-16 {
  margin-top: 16px; }

.mt-24 {
  margin-top: 24px; }

.mt-40 {
  padding-top: 40px; }

.mt-64 {
  margin-top: 64px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-72 {
  margin-bottom: 72px; }

.mb-64 {
  margin-bottom: 64px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-8 {
  margin-bottom: 8px; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.text-a-c {
  text-align: center; }

.hr-line {
  height: 2px;
  background-color: #020202;
  width: 1200px; }

.a-items-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-white {
  color: white; }

h1 {
  font-size: 80px;
  font-family: "SF Pro text";
  border-bottom: 2px solid black; }

h2 {
  font-size: 32px;
  font-weight: medium; }

span {
  font-size: 24px;
  color: #a00404; }

p {
  font-size: 24px; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.title {
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #000; }

.name h1 {
  font-size: 80px;
  line-height: 95px;
  padding-bottom: 24px;
  margin-top: 40px; }

.name img {
  width: 324px;
  height: 324px;
  margin-bottom: 48px; }

.profile .basic-info {
  font-size: 24px; }

.profile .experience {
  font-size: 24px;
  width: 700px; }

.education .educ {
  font-size: 24px;
  width: 610px; }

.skills {
  background-color: #415165;
  color: white;
  padding-top: 24px;
  padding-bottom: 40px;
  text-align: center; }
  .skills .container .skill-title {
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    margin-bottom: 40px; }
  .skills .container .skill-item {
    border-left: 1px solid #ffffff;
    display: inline-block;
    text-align: left;
    padding-left: 24px; }
    .skills .container .skill-item li {
      font-size: 24px;
      padding-bottom: 8px; }

.work .work-items {
  border-left: 1px solid #96a9c4;
  margin-left: 24px; }
  .work .work-items li {
    padding-left: 24px;
    font-size: 24px;
    width: 700px; }
    .work .work-items li img {
      width: 100px;
      height: 100px; }
    .work .work-items li p {
      width: 642px;
      font-size: 20px; }

.footer {
  background-color: #415165;
  padding-top: 24px; }
  .footer .container h2 {
    width: 996px;
    margin: 0 auto;
    color: white;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid white; }
    .footer .container h2 span {
      font-size: 24px;
      color: white; }
  .footer .container .method {
    width: 900px;
    margin: 0 auto; }
    .footer .container .method li {
      font-size: 24px;
      text-align: center;
      color: white; }
      .footer .container .method li a {
        text-decoration: none;
        color: white; }
        .footer .container .method li a:hover {
          color: #265fa4; }
  .footer .container .social {
    width: 900px;
    margin: 0 auto; }
    .footer .container .social a img {
      margin-right: 24px;
      margin-bottom: 40px; }
      .footer .container .social a img:hover {
        background-color: #265fa4; }

/*# sourceMappingURL=all.css.map */
